/*
Theme Name: Spandiv
Author: Spandiv
Author URI: https://praseetyaa.github.io/portfolio/
Version: 0.1
Description: Tema khusus bisa.co.id, dilarang mengubah tanpa izin! kontak dev.spandiv@gmail.com untuk melakukan perubahan
*/

.btn-theme{padding: 1em 2em}
.btn-theme-1{background-color: #33327E; color: #ffffff}
.btn-theme-1:hover{background-color: rgb(44, 44, 107); color: #ffffff}
.bg-theme-1{background-color: #33327E; color: #ffffff}
.color-theme-1{color: #33327E;}
.rounded-1{border-radius: .5em!important}
.rounded-2{border-radius: 1em!important}
.rounded-3{border-radius: 1.5em!important}
.rounded-4{border-radius: 2em!important}
.rounded-5{border-radius: 2.5em!important}
/*heading*/

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;}
.media-body {
    -ms-flex: 1;
    flex: 1;}
.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;}
.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;}
.img-overlay-1{
	background: url("assets/images/photo-1517048676732-d65bc937f952.jpg");
	height: 670px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    animation: header 10s infinite ease}
.img-overlay-2{
    background: url("assets/images/businessman-showing-changes-report_1098-3504.jpg");
    height: 670px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: header 10s infinite ease}
.img-overlay-3{
    background: url("assets/images/The-Myth-of-the-Larger-Than-Life-Leader_SOURCE_stocksy.jpg");
    height: 670px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: header 10s infinite ease}
@keyframes header{
    0% {transform: scale(1);}
    50% {transform: scale(1.02);}
    100% {transform: scale(1);}
}
@keyframes fab{
    0% {transform: scale(1);}
    25% {transform: scale(1);}
    50% {transform: scale(.9);}
    75% {transform: scale(1);}
    100% {transform: scale(1);}
}

.carousel-indicators [data-bs-target] {height: 10px; width: 10px; border-radius: 100%;}
.carousel:active{cursor: grab;}
.link-dark{color: rgba(0,0,0,.75)!important; transition: .2s ease}
.link-dark:hover{color: rgba(0,0,0,1)!important;}
.section-about .about-wrap{position: relative; top: -5rem; z-index: 3}
.card-why{height: 20em; min-height: 20em; max-height: 25em; margin-bottom: 2em; margin-top: 4em} 
.why-left div{margin-left: 8em}
.icon-why{font-size: 4em; position: absolute; top: .30em; left: 0; right: 0; bottom: 0; margin: 0 auto; color: #fff;}
.icon-why-left{ text-align: center; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; width: 115px; background: white; font-size: 4em; padding: .25em; color: #33327E; margin-right: .5em; flex-shrink: 0; position: absolute; border-radius: .25em;}
.icon-why-wrap h3{margin-top: 2.3em}
.icon-bg{position: absolute; top: -2.5em; left: 0; right: 0; bottom: 0; margin: 0 auto; width: 100px; height: 100px; border-radius: 15%; background-color: #33327E;}
.footer-link{color: rgba(255,255,255,.55); transition: .2s ease}
.footer-link:hover{color: #fff}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{color: rgba(255,255,255,.9);}
.navbar-light .navbar-nav .nav-link {color: rgba(255,255,255,.55);}
.navbar-light .navbar-nav .nav-link:hover{color: rgba(255,255,255,.75);}
.navbar-light .navbar-nav .nav-link:focus{color: rgba(255,255,255,.75);}
.navbar{transition: .2s ease}
.navbar .navbar-brand{filter: brightness(0) invert(1);}
.navbar .nav-link{font-weight: 500}
.navbar.shrink{background: #fff; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)}
.navbar.shrink .nav-link{color: rgba(0,0,0,.55);}
.navbar.shrink .nav-link:hover{color: rgba(0,0,0,.75);}
.navbar.shrink .nav-link:focus{color: rgba(0,0,0,.75);}
.navbar.shrink .nav-link.active{color: rgba(0,0,0,1);}
.navbar.shrink .nav-link.active:hover{color: rgba(0,0,0,1);}
.navbar.shrink .navbar-brand{filter: unset;}

/*comment*/
#respond { } 
#reply-title { } 
#cancel-comment-reply-link { }
#commentform { } 
#author, #email, #url{ display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out} 
#author:focus, #email:focus, #url:Focus, #comment:focus{color: #212529; background-color: #fff; border-color: #86b7fe; outline: 0; box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);}
#comment{min-height: calc(1.5em + .75rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out}
#submit{background-color: #33327E; color: #ffffff; display: inline-block; font-weight: 400; line-height: 1.5; color: #fff; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
#submit:active:focus{box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);}
#submit:focus{border: 1px solid #33327E!important);}
.comments-area{background-color: #fff; padding: 1.5em; border-radius: 1rem; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);}
.comment-notes { } 
.required { }
.comment-form-author, .comment-form-email, .comment-form-url{}
.comment-form-comment { } 
.comment-form-cookies-consent { }
.form-allowed-tags { } 
.form-submit {}


@media (max-width: 768px) {
    .navbar{background-color: #fff}
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{color: rgba(0,0,0,.9);}
    .navbar-light .navbar-nav .nav-link{color: rgba(0,0,0,.55);}
    .navbar .navbar-brand{filter: unset;}
    .logo-tentang{max-width: 50%}
}
@media (max-width: 425px) {
    .section-client .owl-carousel .owl-item img {margin: 0 auto; width: 50%}
}

/* wp */
.wpcf7-response-output{display: none;}